.t1{
    color: antiquewhite;
    text-align: center;
    font-size: 18px;
}
.t2{
    color: antiquewhite;
    text-align: center;
    font-size: 32px;
}
.t3{
    color: antiquewhite;
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
}